{% extends "base.html" %}
{% block content %}

<h1 class="text-3xl font-semibold mb-6">Novo Contrato</h1>

<form method="POST" class="bg-white shadow rounded-xl p-8 grid grid-cols-1 gap-5">

  <div>
    <label class="font-semibold">Empresa</label>
    <input name="company" required
           class="w-full mt-1 px-4 py-2 border rounded-lg" placeholder="Nome da empresa">
  </div>

  <div>
    <label class="font-semibold">CNPJ</label>
    <input name="cnpj" required maxlength="20"
           class="w-full mt-1 px-4 py-2 border rounded-lg" placeholder="00.000.000/0000-00">
  </div>

  <div>
    <label class="font-semibold">Descrição</label>
    <textarea name="desc" class="w-full mt-1 px-4 py-2 border rounded-lg"></textarea>
  </div>

  <div class="grid grid-cols-2 gap-5">
    <div>
      <label class="font-semibold">Início</label>
      <input name="start" type="date" class="w-full mt-1 px-4 py-2 border rounded-lg">
    </div>
    <div>
      <label class="font-semibold">Fim</label>
      <input name="end" type="date" class="w-full mt-1 px-4 py-2 border rounded-lg">
    </div>
  </div>

  <button class="mt-4 bg-blue-600 hover:bg-blue-700 text-white py-3 rounded-lg shadow">
    Salvar Contrato
  </button>

</form>

{% endblock %}
